absl-py @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_80y0o6393n/croot/absl-py_1686852452492/work
affine==2.4.0
aiohttp @ file:///Users/ec2-user/ci_py311/aiohttp_1678323186748/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
altair==5.0.1
altair-data-server==0.4.1
altair-viewer==0.4.0
anyio==3.7.1
appdirs==1.4.4
appnope @ file:///home/conda/feedstock_root/build_artifacts/appnope_1649077682618/work
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1670263926556/work
astunparse==1.6.3
async-lru==2.0.4
async-timeout @ file:///Users/ec2-user/ci_py311/async-timeout_1678320112070/work
attrs==23.1.0
Babel==2.12.1
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1687772187254/work
beautifulsoup4==4.12.2
bertopic==0.15.0
bleach==6.0.0
blinker==1.4
blis==0.7.10
branca==0.6.0
brotlipy==0.7.0
cachetools @ file:///tmp/build/80754af9/cachetools_1619597386817/work
Cartopy==0.22.0
catalogue==2.0.9
certifi==2023.7.22
cffi @ file:///Users/ec2-user/ci_py311/cffi_1678315312775/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click @ file:///Users/ec2-user/ci_py311/click_1678318124837/work
click-plugins==1.1.1
cligj==0.7.2
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1691044910542/work
confection==0.1.1
contextily==1.4.0
contourpy==1.1.0
cryptography @ file:///Users/ec2-user/ci_py311_2/cryptography_1679335457662/work
cycler==0.11.0
cymem==2.0.7
Cython==0.29.36
debugpy @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_30hp2nowkm/croot/debugpy_1690905056188/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml==0.7.1
et-xmlfile==1.1.0
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1667317341051/work
fake-useragent==1.2.1
fastjsonschema==2.18.0
Fedtools==0.0.7
filelock==3.12.2
Fiona==1.9.4.post1
flatbuffers @ file:///home/ktietz/cip/python-flatbuffers_1634039120618/work
folium==0.14.0
fonttools==4.42.0
fqdn==1.5.1
frozenlist @ file:///Users/ec2-user/ci_py311/frozenlist_1678318685088/work
fsspec==2023.6.0
funcy==2.0
gast @ file:///Users/ktietz/demo/mc3/conda-bld/gast_1628588903283/work
gensim==4.3.1
geographiclib==2.0
geopandas==0.13.2
geoplot==0.5.1
geopy==2.4.0
gitdb==4.0.10
GitPython==3.1.34
google-auth @ file:///opt/conda/conda-bld/google-auth_1646735974934/work
google-auth-oauthlib @ file:///Users/ec2-user/ci_py311_2/google-auth-oauthlib_1679339469252/work
google-pasta @ file:///Users/ktietz/demo/mc3/conda-bld/google-pasta_1630577991354/work
grpcio @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_89crzmas0c/croot/grpc-suite_1681912595800/work
h5py @ file:///Users/ec2-user/ci_py311/h5py_1678381005308/work
hdbscan==0.8.33
huggingface-hub==0.16.4
idna @ file:///Users/ec2-user/ci_py311/idna_1678315819133/work
imbalanced-learn==0.11.0
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1688754491823/work
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1690311370777/work
ipytablewidgets==0.3.1
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1685727999785/work
ipython-genutils==0.2.0
ipywidgets==8.1.0
isoduration==20.11.0
jax==0.4.14
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1690896916983/work
Jinja2==3.1.2
joblib==1.3.1
json5==0.9.14
jsonpointer==2.4
jsonschema==4.18.6
jsonschema-specifications==2023.7.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.7.0
jupyter-lsp==2.2.0
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1687700988094/work
jupyter_core @ file:///Users/runner/miniforge3/conda-bld/jupyter_core_1669775142247/work
jupyter_server==2.7.0
jupyter_server_terminals==0.4.4
jupyterlab==4.0.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.8
jupyterlab_server==2.24.0
keras @ file:///usr/local/conda/envs/311b/conda-bld/keras_1683571250732/work/keras-2.12.0-py2.py3-none-any.whl
Keras-Preprocessing @ file:///tmp/build/80754af9/keras-preprocessing_1612283640596/work
kiwisolver==1.4.4
langcodes==3.3.0
libclang==16.0.6
llvmlite==0.40.1
lz4==4.3.2
mapclassify==2.6.1
Markdown @ file:///Users/ec2-user/ci_py311/markdown_1678377870854/work
markdown-it-py==3.0.0
MarkupSafe @ file:///Users/ec2-user/ci_py311/markupsafe_1678316973889/work
matplotlib==3.7.2
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
mdurl==0.1.2
mercantile==1.2.1
mistune==3.0.1
mkl-fft==1.3.6
mkl-random @ file:///Users/ec2-user/mkl/mkl_random_1682994911338/work
mkl-service==2.4.0
ml-dtypes==0.2.0
mpmath==1.3.0
multidict @ file:///Users/ec2-user/ci_py311/multidict_1678318765630/work
murmurhash==1.0.9
nbclient==0.8.0
nbconvert==7.7.3
nbformat==5.9.2
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1664684991461/work
networkx==3.1
nltk==3.8.1
notebook==7.0.2
notebook_shim==0.2.3
numba==0.57.1
numexpr==2.8.5
numpy==1.26.1
oauthlib @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_0fpzkx7s0h/croot/oauthlib_1679489634313/work
openpyxl==3.1.2
opt-einsum @ file:///tmp/build/80754af9/opt_einsum_1621500238896/work
overrides==7.4.0
packaging @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_c3zlhpboab/croot/packaging_1678965318579/work
pandas==2.0.3
pandocfilters==1.5.0
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
pathy==0.10.2
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1667297516076/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==9.5.0
plotly==5.15.0
pooch @ file:///tmp/build/80754af9/pooch_1623324770023/work
portpicker==1.5.2
preshed==3.0.8
prometheus-client==0.17.1
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1688565951714/work
protobuf==3.20.3
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1681775196112/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pyarrow==13.0.0
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==1.10.12
pydeck==0.8.0
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1681904169130/work
PyJWT @ file:///Users/ec2-user/ci_py311/pyjwt_1678379090382/work
pyLDAvis==3.4.1
Pympler==1.0.1
pynndescent==0.5.10
pyOpenSSL @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_19gfn1ib_u/croot/pyopenssl_1678965300171/work
pyparsing==3.0.9
pyproj==3.6.0
pyshp==2.3.1
PySocks @ file:///Users/ec2-user/ci_py311/pysocks_1678315868424/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-json-logger==2.0.7
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0.1
pyzmq @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_e6wiufh44w/croot/pyzmq_1686601381524/work
qtconsole==5.4.3
QtPy==2.3.1
rasterio==1.3.9
referencing==0.30.2
regex==2023.6.3
requests @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_ec2sxfa_zk/croot/requests_1682607519671/work
requests-oauthlib==1.3.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.5.2
rpds-py==0.9.2
rsa @ file:///tmp/build/80754af9/rsa_1614366226499/work
safetensors==0.3.1
scikit-learn==1.3.0
scipy==1.10.1
seaborn==0.12.2
Send2Trash==1.8.2
sentence-transformers==2.2.2
sentencepiece==0.1.99
shapely==2.0.1
six @ file:///tmp/build/80754af9/six_1644875935023/work
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
snuggs==1.4.7
soupsieve==2.4.1
spacy==3.6.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
srsly==2.4.7
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
streamlit==1.26.0
sympy==1.12
tenacity==8.2.2
tensorboard @ file:///usr/local/conda/envs/311b/conda-bld/tensorboard_1683571363787/work/tensorboard-2.12.1-py3-none-any.whl
tensorboard-data-server @ file:///var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_4999uvt1gd/croot/tensorboard-data-server_1681498198383/work/tensorboard_data_server-0.7.0-py3-none-macosx_10_9_x86_64.whl
tensorboard-plugin-wit==1.6.0
tensorflow @ file:///usr/local/conda/envs/311b/conda-bld/tensorflow-base_1683826552043/work/tensorflow_pkg/tensorflow-2.12.0-cp311-cp311-macosx_10_14_x86_64.whl
tensorflow-estimator @ file:///usr/local/conda/envs/311b/conda-bld/tensorflow-estimator_1683571540547/work/tensorflow_estimator-2.12.0-py2.py3-none-any.whl
tensorflow-hub==0.14.0
tensorflow-io-gcs-filesystem==0.33.0
termcolor @ file:///Users/ec2-user/ci_py311/termcolor_1678423689953/work
terminado==0.17.1
thinc==8.1.10
threadpoolctl==3.2.0
tinycss2==1.2.1
tokenizers==0.13.3
toml==0.10.2
toolz==0.12.0
torch==2.0.1
torchvision==0.15.2
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1684150418528/work
tqdm==4.65.0
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1675110562325/work
traittypes==0.2.1
transformers==4.31.0
typer==0.9.0
typing_extensions @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_9cw7_jdp5v/croot/typing_extensions_1686601820966/work
tzdata==2023.3
tzlocal==4.3.1
umap-learn==0.5.3
uri-template==1.3.0
urllib3 @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_1968zekhce/croot/urllib3_1686163172153/work
validators==0.22.0
vega==4.0.0
wasabi==1.1.2
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1673864653149/work
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.1
Werkzeug @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_fegt3z60s3/croot/werkzeug_1679489762631/work
widgetsnbextension==4.0.8
wrapt @ file:///Users/ec2-user/ci_py311/wrapt_1678323111850/work
xgboost==1.7.6
xyzservices==2023.10.0
yarl @ file:///Users/ec2-user/ci_py311/yarl_1678323149735/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1689374466814/work
